{% extends 'base_administrador.html' %} {% load crispy_forms_tags %} {% block content %} {% block css %}
<style>
    .erro {
        color: red;
    }
    /* .ctrlHolder {
        margin-block: 30px;
    } */
    
    #cadastrar_matriz {
        margin: 30px;
    }
</style>
{% endblock %}
<div class="card">
    <!-- colocar um if para caso seja editar -->
    <form id="cadastrar_matriz" method="post">
        {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{success}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        {% endif %}

        <h1>Cadastrar Matriz</h1>

        <div class="erro">{{erros}}</div>
        {% csrf_token %} {{ form|crispy }}
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock %}